<div class="row">
    <div class="col-xs-12">
        <img [src]="recipeDetails.imageUrl" alt="" style="width:360px; max-height: 240px;" />
    </div>
</div>
<div class="row mt-2">
    <div class="col-xs-12">
        <h4>{{recipeDetails.name}}</h4>
    </div>
</div>
<div class="row mt-2">
    <!-- <div class="col-xs-12 " appDropDown>
        <button class="btn btn-primary dropdown-toggle">Manage Recipe
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu">
            <a href="#" class="dropdown-item">To Shopping List</a>
            <a href="#" class="dropdown-item">Edit Recipe</a>
            <a href="#" class="dropdown-item">Delete Recipe</a>
        </div>
    </div> -->
    <div class="col">
        <button class="btn btn-success w-100">Add To List</button>
    </div>
    <div class="col">
        <button class="btn btn-primary">Edit Recipe</button>
    </div>
    <div class="col">
        <button class="btn btn-danger">Delete Recipe</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-xs-12">
        <p>{{recipeDetails.description}}</p>
    </div>
</div>
<div class="row mt-2">
    <div class="col-xs-12">
        <div class="list-group-item clearfix" *ngFor="let item of recipeDetails.ingredients">
            {{item.name + '('+ item.qty + ')'}}</div>
    </div>
</div>